html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}

.form-body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

form{
    text-align: center;
}

input{
    height: 2.5rem;
}